<div class = "col s4">
	<div class = "card-panel hoverable white">
		<div class = "card-content blue-grey-text text-darken-4">
			<span class="card-title blue-grey-text text-darken-4"><img src="derp.png" alt="" class = "circle responsive-img icon left"><%= @smarties.first.customer.proper_name %><br/>(<%= @smarties.first.customer.user.username %>)</span>
			<br />
			<%= link_to "Edit Your Profile", users_path, {:style=>'color:#2196f3;', :class => "css_class"} %>
		</div>
		<div class="card-action">
			<div class = "row">
				<div class = "col s4 center-align">
					<p><b>Smarties </b><p>
  					<a href="#" class = "blue-text"><%= @smarties.size %></a>
  				</div>
  				<div class = "col s4 center-align">
  					<p><b>Following </b></p>
					<a href="#" class = "blue-text"><%= @company_count %></a>
				</div>
				<div class = "col s4 center-align">
  					<p><b> Saved </b></p>
					<a href="#" class = "blue-text">0</a>
				</div>
			</div>
		</div>
	</div>
</div>